
<div class="container">
    <form [formGroup]="addForm" (ngSubmit)="addForm.valid && addOffer()" autocomplete="off">
        <div class="form-floating">
            <app-input
            [formControl]="$any(addForm.controls['name'])"
            [label]="'Name'"
            ></app-input>
        </div>
        <div class="form-floating">
            <app-input
            [formControl]="$any(addForm.controls['price'])"
            [valueType]="valueType.Decimal"
            [min]="0"
            [label]="'Price'"
            ></app-input>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Add</button>
    </form>
    <div class="container-fluid" *ngIf="offers">
        <div class="row" *ngFor="let offer of offers">
            <div class="col-6">{{offer.name}}</div>
            <div class="col-6">{{offer.price}}</div>
        </div>
    </div>

</div>

