<div *ngIf="!!offer()"
     class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>Name</p>
        </div>
        <div class="col-sm-6">
            <p>{{offer()?.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Price</p>
        </div>
        <div class="col-sm-6">
            <p>{{offer()?.price}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Description</p>
        </div>
        <div class="col-sm-6">
            <p>{{offer()?.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary w-100 py-2"
               [routerLink]="['/sale-offers/offer', randomId() ]">
                Random
            </a>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary w-100 py-2"
                    (click)="onShowWindows()">
                Buy
            </button>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary w-100 py-2"
               [routerLink]="'/sale-offers'">
                Back
            </a>
        </div>
    </div>

</div>

<app-modal-by-directive [name]="offer()?.name"
                        (dialogClosed)="closeDialog($event)"
                        *window="showWindow">

</app-modal-by-directive>